/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <13 14 15 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q               &kp W           &kp F           &kp P  &kp B        &kp J    &kp L  &kp U            &kp Y            &kp SEMI             &kp BSPC
&kp TAB     &mt LEFT_CONTROL A  &mt LEFT_ALT R  &mt LEFT_WIN S  &kp T  &kp G        &kp M    &kp N  &mt RIGHT_WIN E  &mt RIGHT_ALT I  &mt RIGHT_CONTROL O  &kp SQT
&kp BSLH    &kp Z               &kp X           &kp C           &kp D  &kp V        &kp K    &kp H  &kp COMMA        &kp DOT          &kp FSLH             &kp QUESTION
                                                &kp LEFT_SHIFT  &to 1  &kp SPACE    &kp RET  &mo 2  &kp RIGHT_SHIFT
            >;
        };

        number_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE     &kp N1          &kp N2          &kp N3        &kp N4           &kp N5       &kp N6     &kp N7          &kp N8          &kp N9           &kp N0  &kp BSPC
&kp TAB        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans       &kp PLUS   &kp EQUAL       &kp LBKT        &kp RBKT         &trans  &trans
&kp BACKSLASH  &kp N6          &kp N7          &kp N8        &kp N9           &kp N0       &kp MINUS  &kp UNDERSCORE  &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans  &trans
                                               &kp LSHFT     &to 0            &kp SPACE    &kp RET    &mo 2           &kp RSHFT
            >;
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE     &kp F1           &kp F2  &kp F3          &kp F4      &kp F5         &kp CARET  &kp AMPS   &kp ASTERISK     &kp LPAR  &kp RPAR  &kp BSPC
&kp TAB        &kp EXCLAMATION  &kp AT  &kp HASH        &kp DOLLAR  &kp PERCENT    &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp BACKSLASH  &trans           &trans  &trans          &trans      &trans         &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                        &kp LEFT_SHIFT  &trans      &kp SPACE      &kp RET    &trans     &kp RIGHT_SHIFT
            >;
        };
    };
};
